@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$global-font-family: 'Lato', sans-serif;
$text-size: rem(16);
$heading-font-size: rem(20);

body {
  font-family: $global-font-family;
}

h1, p {
  margin-top: 0;
}