.hero {
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 10vh;
  @include bg-img('../images/hero.png');
  &__container {
    height: 100%;
    @extend .flex-col;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: rem(67);
    max-height: rem(66);
  }
  &__info-wrap {
    width: 65.6%;
    text-align: center;
    color: $white;
  }
  &__title {
    font-size: rem(54);
    margin-bottom: rem(53);
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    font-size: rem(15);
    font-weight: 400;
    text-transform: uppercase;
  }
  &__scroll {
    max-width: rem(23);
    max-height: rem(37);
  }
}
